<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication & Authorization</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full h-screen bg-zinc-900 text-white p-10">
        <a href="/" class="text-sm text-blue-600 tracking-tighter">Want to Create Account ?</a>
        <h3 class="text-3xl tracking-tighter my-6">Login your Account</h3>
        <form action="/login" method="post">
            <input class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800 mr-2" type="email"
                name="userEmail" placeholder="Enter Email" id="">
            <input class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800 mr-2"
                type="password" name="userPassword" placeholder="Enter Password" id="">
            <input class="px-4 py-2 bg-blue-800 cursor-pointer rounded-md hover:bg-blue-900" type="submit"
                value="Login">
        </form>
    </div>
</body>

</html>